<html lang="en-US">
<head>
    <title>Itinerary | team6_itineraryWebApp</title>
    <link href="/static/style.css" rel="stylesheet"/>
    <link href="https://rsms.me/" rel="preconnect">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
</head>
<body>
<div class="itinerary">
    <h1 style="width: 100%; text-align: center">Itinerary for {{location['name']}}, {{location['region']}},
        {{location['country']}}</h1>
    <hr style="width: 100%; margin: 12px 0;">

    <div class="panel weather">
        <h2 class="panel_title">Weather</h2>
        <div class="sub_panel weather_body">
            <img alt="Weather icon" src={{weather["current"]["condition"]["icon"]}} style="float: left; width: 64px">
            <p>
                {{weather["current"]["condition"]["text"]}} ({{weather["current"]["vis_miles"]}} mi vis)
                <br>
                {{weather["current"]["temp_f"]}}°F ({{weather["forecast"]["forecastday"][0]["day"]["maxtemp_f"]}}°F
                peak) @
                {{weather["current"]["humidity"]}}% humidity
                <br>
                {{weather["current"]["precip_in"]}} in
                ({{weather["forecast"]["forecastday"][0]["day"]["totalprecip_in"]}} in today) |
                {{weather["current"]["precipitation"]["chance"]}}% Risk of
                {{weather["current"]["precipitation"]["type"]}}
                <br>
                {{weather["current"]["wind_mph"]}}-{{weather["current"]["gust_mph"]}} mph
                {{weather["current"]["wind_arrow"]}}
            </p>
        </div>
        <br>
    </div>

    <div class="row-ifier">
        <div class="panel attractions">
            <h2 class="panel_title">Attractions</h2>
            {% for place in attractions %}
            <div class="sub_panel">
                <h3 class="subpanel_title"><a href={{place["link"]}}>{{place["name"]}}</a></h3>
                <h4 class="subpanel_subtitle">{{place["address"]}}</h4>
                <hr>
                <p>
                    <b>Rating:</b> <span class="{{place['rating_color']}}">{{place["rating"]}} reviews</span> (<span class="{{place['total_rating_color']}}">{{place["total_ratings"]}} reviews</span>)
                    <br>
                    <b>Status:</b> <span class="{{place['open_color']}}">{{place["is_open"]}}</span>
                    <br>
                    {% if place["price_level"] == "N/A" %}
                    <b>Pricing:</b> <span class="{{place['price_color']}}">{{place["price_level"]}}</span>
                    <br>
                    {% else %}
                    {% endif %}
                    <span class="subtext"><br>Tags: {{place["types"]}}</span>
                </p>
            </div>
            <br>
            {% endfor %}
        </div>

        <div class="panel resturaunts">
            <h2 class="panel_title">Restaurants</h2>
            {% for place in restaurants %}
            <div class="sub_panel">
                <h3 class="subpanel_title"><a href={{place["link"]}}>{{place["name"]}}</a></h3>
                <h4 class="subpanel_subtitle">{{place["address"]}}</h4>
                <hr>
                <p>
                    <b>Rating:</b> <span class="{{place['rating_color']}}">{{place["rating"]}} reviews</span> (<span class="{{place['total_rating_color']}}">{{place["total_ratings"]}} reviews</span>)
                    <br>
                    <b>Status:</b> <span class="{{place['open_color']}}">{{place["is_open"]}}</span>
                    <br>
                    <b>Pricing:</b> <span class="{{place['price_color']}}">{{place["price_level"]}}</span>
                    <br>
                    <span class="subtext"><br>Tags: {{place["types"]}}</span>
                </p>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>