<html lang="en-US">
<head>
    <title>Landing | team6_itineraryWebApp</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <h1>Welcome to team6's Itinerary!</h1>
    {% if error|length > 1 %}
        <div class="panel">
            {% for para in error %}
                <span class="red">{{para}}</span>
                <br>
            {% endfor %}
        </div>
    {% endif %}
    <div class="panel">
        <form method="POST">
            <label for="location">Enter your location of choice:</label>
            <input type="text" name="location" id="location" value="Menomonie">
            <br>
            <label for="radius">Search Radius:</label>
            <input type="text" name="radius" id="radius" value="5000">
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>